<nav class="z-depth-0">
  <div class="row nav-wrapper">
    <div class="col s3 valign-wrapper">
      <%= link_to image_tag('logos/logo-brown.png', :size => "40x40"), admin_dashboard_path %>
      <%= link_to 'The Baking Factory', admin_dashboard_path, :class => "text-home"  %>
    </div>

    <div class="col s9">
      <ul class="right hide-on-med-and-down">
        <% if can? :read, Customer %>
          <li><%= link_to 'CUSTOMERS', customers_path, :class => current_class?(customers_path)  %></li>
        <% end %>
        <% if can? :read, Item %>
          <li><%= link_to 'ITEMS', items_path, :class => current_class?(items_path) %></li>
        <% end %>
        <% if can? :read, Order %>
          <li><%= link_to 'ORDERS', orders_path, :class => current_class?(orders_path) %></li>
        <% end %>
        <% if can? :read, Address %>
          <li><%= link_to 'ADDRESSES', addresses_path, :class => current_class?(addresses_path) %></li>
        <% end %>
        <% if can? :read, User %>
          <li><%= link_to 'USERS', users_path, :class => current_class?(users_path) %></li>
        <% end %>
        <% if can? :create, Order %>

          <!--LINK TO CORRECT CART PATH-->
          <li><%= link_to image_tag('shopping-cart.png', :size => "25x25") + "  ( )", home_path, :class => "cart-img"  %></li>

        <% end %>
        <li><%= link_to 'LOGOUT', logout_path %></li>
      </ul>
    </div>

    </hr>
  
  </div>
  
</nav>


