<nav class="z-depth-0">
  <div class="row nav-wrapper">
    <div class="col s6 valign-wrapper">
      <%= link_to image_tag('logos/logo-brown.png', :size => "40x40"), home_path  %>
      <%= link_to 'The Baking Factory', home_path, :class => "text-home"  %>
    </div>
    
    <!-- <div class="text-home col s6"> 
      <%= link_to 'The Baking Factory', home_path  %>
    </div> -->
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'HOME', home_path, :class => current_class?(home_path)  %></li>
      <li><%= link_to 'ABOUT', about_path, :class => current_class?(about_path) %></li>
      <li><%= link_to 'CONTACT', contact_path, :class => current_class?(contact_path) %></li>
      <li><%= link_to 'LOGIN', login_path, :class => current_class?(login_path) %></li>
    </ul>
    </hr>
    <div class="left container">
      <ul>

      </ul>
    
    </div>
  
  </div>
  
</nav>


