<% if @active_customers.empty? %>
  <p>No active customers at this time.</p>
<% else %>
  <table class="table striped highlight">
    <thead>
      <tr>
        <th width="225">Name</th>
        <th width="225">Phone</th>
        <th width="300">Email</th>
        <th width="200"></th>
      </tr>
    </thead>
    <tbody>
      <% @active_customers.each do |customer| %>
        <tr>
          <td width="225"><%= link_to customer.proper_name, customer_path(customer) %></td>
          <td width="225"><%= number_to_phone customer.phone %></td>
          <td width="300"><%= mail_to customer.email, customer.email, encode: "javascript"  %></td>
          <% if logged_in? && current_user.role?(:admin) %>
            <td width="200">
             
                <%=link_to('Make inactive', toggle_customer_path(customer.id), 
                        method: :patch, 
                        class: " btn button tiny radius")%>
      
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</br>
<%= will_paginate @active_customers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>