<% if @inactive_customers.empty? %>
  <p>No inactive customers at this time.</p>
<% else %>
  <table class="table striped highlight">
    <thead>
      <tr>
        <th >Name</th>
        <th >Phone</th>
        <th >Email</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= number_to_phone customer.phone %></td>
          <td><%= mail_to customer.email, customer.email, encode: "javascript"  %></td>
          <% if logged_in? && current_user.role?(:admin) %>
            <td width="200">
             
                <%=link_to('Make inactive', toggle_customer_path(customer.id), 
                        method: :patch, 
                        class: " btn button tiny radius")%>
      
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
<%= will_paginate @inactive_customers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>