<% if addresses.empty? %>
  <p><em>There are no <%= state %> addresses at this time.</em></p>
<% else %>
<h4><%= state.capitalize %> Addresses</h4>
<table class="table striped highlight">
  <thead>
    <tr>
      <th >Customer</th>
      <th>Recipient</th>
      <th>Address</th>
      <th >Billing?</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <td><%= link_to address.customer.proper_name, customer_path(address.customer) %></td>
        <td><%= address.recipient %></td>
        <td>
          <%= render :partial => "partials/address_info", locals: {address: address} %>
        </td>
        <td align="center"><%= address.is_billing ? "Yes" : "No" %></td>      
        <td>
        <% if can? :edit, address %>
          <%= link_to edit_address_path(address) do %>
            <i class="material-icons">edit</i>
          <% end %> 
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate addresses, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>