<% if addresses.empty? %>
  <p><em>There are no <%= state %> addresses at this time.</em></p>
<% else %>

<%if current_user.role?(:customer)%>
 
  <h5>Your Addresses</h5>
<%end%>
<table class="table striped highlight">
  <thead>
    <tr>
      <%if current_user.role?(:admin)%>
        <th >Customer</th>
      <%end%>
      <th>Recipient</th>
      <th>Address</th>
      <th >Billing?</th>
      <th width="100px">&nbsp;</th>
      <th width="100px">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <%if current_user.role?(:admin)%>
          <td><%= link_to address.customer.proper_name, customer_path(address.customer) %></td>
        <%end%>
        <td><%= address.recipient %></td>
        <td>
          <%= render :partial => "partials/address_info", locals: {address: address} %>
        </td>
        <td align="center"><%= address.is_billing ? "Yes" : "No" %></td>      
        <td width="100px">
        <% if can? :edit, address %>
          <%= link_to edit_address_path(address) do %>
            <i class="material-icons">edit</i>
          <% end %> 
        <% end %>
        
        </td>
        <td width="100px">
        <% if can? :delete, address %>
          <%= link_to(address_path(address), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
            <i class="material-icons">delete</i>
          <% end %>
        <% end %>
        </td>
      </tr>
      
    <% end %>
  </tbody>
</table>

</br>
<% if current_user.role?(:customer) %>
<%= link_to(new_address_path, class: 'btn button tiny radius') do %>
  Add a new address</br></br>
<% end %>
<% end %>

<%= will_paginate addresses, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>