<% errs = @item.errors.to_a if !@item.nil? %>
</br>
<% if errs.present? %>
    <% errs.each do |e| %>
        &nbsp;&nbsp;&nbsp;&nbsp;<em><%= e %></em>
        </br>
    <% end %>
<% end %>
</br>
<%= f.input :name, as: :string, include_blank: true, input_html: {class: "avg"}, label_html: {class: "active"} %>
<%= f.input :description, as: :text, include_blank: true, input_html: {class: "avg"}, label_html: {class: "active"} %>
<%= f.input :category, collection: ["bread", "muffins", "pastries"], input_html: {class: "avg"}%>
<%= f.input :units_per_item, as: :integer, input_html: {class: "avg"}, label_html: {class: "active"} %>   
<%= f.input :weight, as: :float, input_html: {class: "avg"}, label_html: {class: "active"} %>   

<div>

    <%= f.file_field :picture, style: "padding-left: 10px;", label: "Picture" %>
</div>
</br>

<%= f.input :active %>