<div class="card">
  <div class="card-content">
    <span class="card-title" style="display: inline">Similar items you might like</span>

    <table>
    <% @similar_items.each do |item| %>

      <% item1 = item %>
      <% item1_type = item.category %>
      <tr>
      <% if !item1.price_on_date(Date.current).nil? %>
        <% if item1.picture_url.nil?  || item1.picture_url.empty?%>
          <td width="140" style="vertical-align: top;"><%= link_to image_tag("img-not-found.png", :size => "130x130"), item_path(item1) %></td>
        <% else %>
          <td width="140" style="vertical-align: top;"><div class="crop"><%= link_to image_tag(item1.picture_url, :size => "130x130"), item_path(item1) %></td></div>
        <% end %>

        <td width="250" style="vertical-align: top; float: left;"><%= link_to item1.name, item_path(item1) %>
          </br>
          <%= number_to_currency item1.current_price, class: "align-left" %>
        
          </br>
          <%= item1.units_per_item %> <%= item1_type == 'bread' ? 'loaf' : item1_type %></br>

          </br>
          <%= link_to(add_item_path(item1.id), class: 'btn button tiny radius') do %>
            
              Add to cart
        
          <% end %>
       
        </td>
      <% end %>
      </tr></br>
    <%end%>
    </table>
  </div>
</div>
